#header,#footer,#content { 
    position:absolute; 
    right:0;left:0; 
    background:#CCC;}

#header{
   height:100px; top:0;

}
#footer{
  height:100px; bottom:0;
}
#content{
  top:100px;
  bottom:100px;
    background:#DBEAF9;
}
