body {
    background-color:#000;
    color: #ffffff;

}

header, footer {
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    border-radius: 6px;

}

img {
    width: 250px;
    float: right;
}

.cont {
    font-family: 'Zeyada', cursive;
    font-size: 50px;
    color: #d4af37;

}