@media (min-width: 64em) {


nav {
width: 100%;
}
.navigation {
	max-width: 1000px;
}
.headings h1 {
  color: #282727;
  text-shadow: #fff 1px 1px;
  font-size: 2.2em;
  margin: 0 0 0 22px;
  font-family: 'Cedarville Cursive', cursive;
}
.headings h1 {
  color: #282727;
  text-shadow: #fff 1px 1px;
  font-size: 3.2em;
  margin: 0 0 0 22px;
  font-family: 'Cedarville Cursive', cursive;
}
#inner {
  margin-left:25%;
}
.quote {
  color:#76bb4c;
  margin-left:20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  }

main {
  text-align: center;
  margin: auto;
  width: 90%;
  padding-top: 7px;


}
main section {
  background-color: #fff;
  border: 1px solid #444;
  margin: 1.5em 0;	
  border-radius: 6px;
}
footer {
	height: 70px;
	line-height: 24px;
}
}
