@media only screen and (min-width:32.5em){
 header img {
width: 100%;
}
.headings h1 {
  font-size: 3rem;
}

nav {
  margin: 0 auto;
  width:100%;
  background-color:#25a1e1;
  border-bottom: 2px solid #fff;
}

.navigation {
  list-style:none;
  text-align:center;
  background-color:#25a1e1;
  padding:0;
  margin: auto;
}
.navigation li:first-child{
  display:block;
}
.navigation li{
  display:none;
}
.navigation li a{
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  
}
.navigation a{
  display: block;
  color:#444;
  padding:1em;
  text-align:center;
  text-decoration: none;
}
.navigation a:hover{
  color:#000;
  background-color:#a6dbf4;
  font-weight: 700;
}

.responsive li {
  display:block;
}
 .quote {
 	margin-left: 22px;
 }

}



