@media (min-width: 64em) {
nav {
width: 100%;
}
.navigation {
    display:flex;
    max-width: 1200px;

  }
  .navigation li:first-child {
    display: none;
  }
  .navigation li {
    display:block;
    flex:1 1 100%;
  }
.logofont {
  font-size: 2.2rem;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 12px;
  
}

}
